body {background-color:  #35654d ;}
#header{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
   
    margin: 0;
}
#entrantes {
    text-align: center;
}
#entrantes h2  {
    margin-bottom: 5px;
}
#principal {
    text-align: center;
}
#principal h2 {
    margin-bottom:5px
}
#postre {
    text-align: center;
}
#postre h2 {
    margin-bottom: 5px;
}
#bebidas {
    text-align: center;
}
#bebidas h2{
    margin-bottom: 5px;
}
#footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
   
    margin-bottom: 0;
}